:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(62.04% 0.195 189.4);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0045 189.4);
  --border: oklch(90% 0.0045 189.4);
  --danger: oklch(65.32% 0.2349 18.01);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0045 189.4);
  --default-foreground: oklch(21.03% 0.0059 189.4);
  --field-background: oklch(100% 0.0022 189.4);
  --field-foreground: oklch(21.03% 0.0045 189.4);
  --field-placeholder: oklch(55.17% 0.009 189.4);
  --focus: oklch(62.04% 0.195 189.4);
  --foreground: oklch(21.03% 0.0045 189.4);
  --muted: oklch(55.17% 0.009 189.4);
  --overlay: oklch(100% 0.0013 189.4);
  --overlay-foreground: oklch(21.03% 0.0045 189.4);
  --scrollbar: oklch(87.1% 0.0045 189.4);
  --segment: oklch(100% 0.0045 189.4);
  --segment-foreground: oklch(21.03% 0.0045 189.4);
  --separator: oklch(92% 0.0045 189.4);
  --success: oklch(73.29% 0.1952 143.08);
  --success-foreground: oklch(21.03% 0.0059 143.08);
  --surface: oklch(100% 0.0022 189.4);
  --surface-foreground: oklch(21.03% 0.0045 189.4);
  --surface-secondary: oklch(95.24% 0.0036 189.4);
  --surface-secondary-foreground: oklch(21.03% 0.0045 189.4);
  --surface-tertiary: oklch(93.73% 0.0036 189.4);
  --surface-tertiary-foreground: oklch(21.03% 0.0045 189.4);
  --warning: oklch(78.19% 0.1599 64.6);
  --warning-foreground: oklch(21.03% 0.0059 64.6);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.25rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme='dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(62.04% 0.195 189.4);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.0045 189.4);
  --border: oklch(28% 0.0045 189.4);
  --danger: oklch(59.4% 0.1985 16.9);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0045 189.4);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.009 189.4);
  --field-foreground: oklch(99.11% 0.0045 189.4);
  --field-placeholder: oklch(70.5% 0.009 189.4);
  --focus: oklch(62.04% 0.195 189.4);
  --foreground: oklch(99.11% 0.0045 189.4);
  --muted: oklch(70.5% 0.009 189.4);
  --overlay: oklch(21.03% 0.009 189.4);
  --overlay-foreground: oklch(99.11% 0.0045 189.4);
  --scrollbar: oklch(70.5% 0.0045 189.4);
  --segment: oklch(39.64% 0.0045 189.4);
  --segment-foreground: oklch(99.11% 0.0045 189.4);
  --separator: oklch(25% 0.0045 189.4);
  --success: oklch(73.29% 0.1952 143.08);
  --success-foreground: oklch(21.03% 0.0059 143.08);
  --surface: oklch(21.03% 0.009 189.4);
  --surface-foreground: oklch(99.11% 0.0045 189.4);
  --surface-secondary: oklch(25.7% 0.0067 189.4);
  --surface-secondary-foreground: oklch(99.11% 0.0045 189.4);
  --surface-tertiary: oklch(27.21% 0.0067 189.4);
  --surface-tertiary-foreground: oklch(99.11% 0.0045 189.4);
  --warning: oklch(82.03% 0.14 68.61);
  --warning-foreground: oklch(21.03% 0.0059 68.61);
}
